@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}

/*NAVBAR*/
nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}
.nav_ul {
  list-style-type: none;
  height: 6.5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_li:first-child {
  margin-right: auto;
}
.nav_li {
  height: 100%;
}
.nav_li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1vw 0 1vw;
  text-decoration: none;
  color: #000000;
  font-size: 0.9em;
}
.nav_li a i {
  margin-right: 0.3vw;
}
.nav_li:hover {
  background-color: #9c9d9e;
}

/*alle img auf 100% größe ihrer container gebracht. 
Braucht dafür aber zwingend einen container*/
img {
  width: 100%;
}

/*Welcome Section*/

.welcome {
  height: 93.5vh;
  display: flex;
  flex-direction: column;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 4vw;
}

/*
.welcome img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: -8%;
  left: 0;
  z-index: -1;
}
*/

.welcome_header {
  color: white;
  height: 30%;
  margin-top: 32vh;
}
.welcome_header h1 {
  font-size: 4em;
  font-weight: normal;
}
.welcome_header h3 {
  font-weight: normal;
  margin-top: 6vh;
}
.welcome_header button {
  margin-top: 4vh;
  border: none;
  height: 6vh;
  width: 20vw;
  background-color: #9c9d9e;
}
.welcome_header button:hover {
  background-color: #f44336;
}
.welcome_header a {
  text-decoration: none;
  color: #030405;
  font-size: 1.5em;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.welcome_icons {
  margin-bottom: 3vh;
  margin-top: auto;
}
.welcome_icons a i {
  color: #757575;
  font-size: 1.2em;
}

/*About Section*/
.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.about_header {
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
  padding-top: 16vh;
}
.about_header h2 {
  font-weight: normal;
  font-size: 2em;
}
.about_header h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 3vh;
}
.about_items {
  display: flex;
  height: 40%;
  padding: 2%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature i {
  font-size: 5em;
}
.feature h3 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 4vh;
}
.feature p {
  margin: 2vh 2vw 2vh 2vw;
  font-size: 1.2em;
  text-align: center;
  line-height: 2;
}

/*Knowledge Section*/

.knowledge {
  background-color: #f1f1f1;
  display: flex;
  height: 80vh;
  padding: 20vh 1vw 20vh 2.5vw;
}
.knowledge_header {
  width: 40%;
  margin-right: 10%;
}
.knowledge_header h2 {
  margin-top: 2vh;
  font-size: 2em;
  font-weight: normal;
}
.knowledge_header p {
  margin: 2vh 0 0 0;
  font-size: 1em;
  line-height: 2;
}
.knowledge_header button {
  margin-top: 2vh;
  height: 4.5vh;
  width: 12vw;
  background-color: #000000;
  border: none;
}
.knowledge_header button:hover {
  background-color: #f44336;
}
.knowledge_header a {
  font-size: 1.1em;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.knowledge_header a i {
  margin-right: 0.5vw;
}
.knowledge_picture {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

/*Team Section*/
.team {
  height: 120vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.team_header {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
  padding-top: 16vh;
}
.team_header h2 {
  font-weight: normal;
  font-size: 2em;
}
.team_header h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 3vh;
}
.team_people {
  display: flex;
  padding: 0 2vw 0 2vw;
  justify-content: center;
}
.people {
  width: 25%;
  margin: 0 1vw 0 1vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 8px 1px rgba(78, 78, 78, 0.5);
}

.people h2 {
  margin: 2vh 0 0 1vw;
  font-size: 2em;
  font-weight: normal;
}
.people h3 {
  font-weight: lighter;
  margin: 3vh 0 0 1vw;
}
.people p {
  margin: 2vh 1vw 0 1vw;
  line-height: 2;
}
.people button {
  margin: 3vh auto 2vh auto;
  height: 5vh;
  width: 90%;
  background-color: #f1f1f1;
  border: none;
}
.people_button:hover {
  background-color: #f44336;
  color: #000000;
}
.people button a {
  font-size: 1.5em;
  color: #030405;
  font-weight: lighter;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.people button a i {
  margin-right: 0.5vw;
}

/*Referenz section*/

.referenzen {
  height: 30vh;
  background-color: #616161;
  display: flex;
  align-items: center;
}
.ref_items {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
}
.ref_items h1 {
  font-size: 3em;
  font-weight: normal;
}
.ref_items h3 {
  font-weight: normal;
  margin-top: 2vh;
}

/*ourWork*/

.ourWork {
  display: flex;
  flex-direction: column;
  height: 120vh;
  background-color: #ffffff;
}
.work_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  padding-top: 16vh;
}
.work_header h2 {
  font-size: 2em;
  font-weight: normal;
}
.work_header h3 {
  margin-top: 3vh;
  font-size: 1.5em;
  font-weight: normal;
}
.work_pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.work_pictureItems {
  margin: 1vh 0.5vw 1vh 0.5vw;
  width: 23vw;
  height: 30vh;
  overflow: hidden;
  box-shadow: 0px 2px 8px 2px rgba(78, 78, 78, 0.5);
}
.work_pictureItems img {
  object-fit: cover;
}

/*skills Section*/

.skills {
  background-color: #f1f1f1;
  display: flex;
  height: 50vh;
  padding: 10vh 1vw 10vh 2.5vw;
}
.skills_header {
  width: 40%;
  margin-right: 10%;
}
.skills_header h2 {
  margin-top: 1vh;
  font-size: 2em;
  font-weight: normal;
}
.skills_header p {
  margin: 2vh 0 0 0;
  font-size: 1em;
  line-height: 2;
}

.skills_loading {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.skills_loading p {
  font-size: 1.2em;
}
.skills_loading p i {
  margin-right: 1.5vw;
}
.loading {
  background-color: #9e9e9e;
  height: 20%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.load_inner {
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#photo_load {
  width: 90%;
  background-color: #616161;
}
#web_load {
  width: 85%;
  background-color: #616161;
}
#ps_load {
  width: 75%;
  background-color: #616161;
}
/*Pricing Section*/
.pricing {
  height: 140vh;
  background-color: #616161;
  display: flex;
  flex-direction: column;
}
.pricing_header {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
  padding-top: 10vh;
}
.pricing_header h2 {
  font-weight: normal;
  font-size: 2em;
  color: #ffffff;
  padding-top: 10vh;
}
.pricing_header h3 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 3vh;
}
.pricing_plan {
  display: flex;
  padding: 0 2vw 0 2vw;
  justify-content: center;
}
.pricing_planBlock {
  width: 30%;
  margin: 0 0.5vw 0 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing_planBlock:hover {
  .plan_header {
    background-color: #f44336;
    height: 18vh;
    margin-top: -1.5vh;
  }
}
.plan_header {
  width: 100%;
  height: 15vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.plan_header h2 {
  font-weight: normal;
}
.plan_content {
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
  display: flex;
  border-bottom: 1px solid #6161613f;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.plan_price {
  width: 100%;
  height: 16vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #6161613f;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.plan_price p {
  margin-top: 3vh;
  font-weight: lighter;
}

.plan_price p:first-of-type {
  font-size: 2em;
  font-weight: normal;
}

.plan_button {
  width: 100%;
  height: 12vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.plan_button a {
  text-decoration: none;
  height: 50%;
  width: 25%;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan_button a:hover {
  color: greenyellow;
  height: 60%;
  width: 35%;
  font-size: 2em;
}

/*Contact Section*/

.contact {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
.contact_header {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  padding-top: 10vh;
}
.contact_header h2 {
  font-weight: normal;
  font-size: 2em;
  padding-top: 10vh;
}
.contact_header h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 3vh;
}
.contact_links {
  height: 30vh;
  display: flex;
  flex-direction: column;
}
.contact_links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.8em;
  margin: 2vh 3vw 2vh 3vw;
}
.contact_links a i {
  margin-right: 2vw;
}
.contact_input form {
  display: flex;
  flex-direction: column;
}
.contact_input form input {
  height: 7vh;
  margin: 1vh 2vw 1vh 2vw;
  border: 1px solid #6161613f;
  font-size: 1.5em;
  padding-left: 2vw;
}
.contact_input form button {
  height: 7vh;
  width: 12vw;
  margin: 1vh 2vw 1vh 2vw;
  border: 1px solid #6161613f;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}
.contact_input form button:hover {
  background-color: #f44336;
  color: #000000;
}
.contact_img {
  width: 96%;
  margin: 5vh auto 10vh auto;
}

/*footer Section*/

.footer_section {
  height: 17vw;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_section button {
  width: 10vw;
  height: 6vh;
  background-color: #f1f1f1;
  border: none;
}
.footer_section button:hover {
  background-color: #f44336;
  color: #000000;
}
.footer_section button a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_section button a i {
  margin-right: 1vw;
}

.footer_icons a i {
  color: #f1f1f1;
  font-size: 2em;
  margin: 3vh 0.2vw 3vh 0.2vw;
}
.footer_section p a {
  color: #ffffff;
}
